.alue_navbar {
	width: 100%;
	height: 60px;
	padding-top: 8px;
}

/* Dropdown navi styles */
.nav_wrapper {
    width: 100%;
}

.wrapper-navbar {
	display: flex;
	background-color: #44bd78;
	justify-content: space-between; /* tasaa linkit koko riville */
    align-items: center;
    margin: 0;
    padding: 0 20px;
}

.navbar-item {
	list-style: none;
	display: inline-block;
	float: left;
}

.nav-sub-linklist {
	list-style: none;
	padding-left: 25px;
}

.nav-sub-link {
	text-decoration: none;
	font-size: 12px;
	font-family: arial;
	color: #1e1e1e;
}

.nav-sub-link:hover {
	color: red;
}

.dropbtn {
  background-color: #44bd78;
  color: white;
  padding: 20px 25px 20px 25px;
  font-family: "Arial", Times, serif;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
}


.dropdown {  
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.active {
  background-color: #438a84;
}

.dropdown-content a {
  padding: 10px 18px 6px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #428a5f;
}

/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background: #FFFFFF;
  color: #000000;
  font-size: 16px;
  text-transform: none;
  border-radius: 4px;
  padding: 6px 8px;
  white-space: nowrap;
  position: absolute;
  bottom: 100%;
  margin-bottom: 5px; 
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;        /* nuoli alareunaan */
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Sub-menu */
