#container{
  width:960px;
  height:610px;
  margin-top:50px;
  margin-left:auto; 
  margin-bottom:50px;
  margin-right:auto;  
}


table {
  width: 100%;
  font-family: sans-serif;
}

/* Set a fixed scrollable wrapper */
.tableWrap {
  height: 380px;
  border: 1px solid black;
  overflow: auto;
}

/* Set header to stick to the top of the container. */
#table2 thead tr th {
  position: sticky;
  top: 0;
}

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
#table2 th {
  padding:6px 3px 10px 15px; 
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  background: #00cccc;
  text-align: left;
  /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
  box-shadow: 0px 0px 0 2px #e8e8e8;
}

#table2 tbody tr {
  border-bottom: 2px solid #e8e8e8;
}

#table2 thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

#table2 tbody tr:hover {
  background: #00cccc57;
}

#table2 tbody tr td {
  padding-left: 15px;
}

form {
  width: 650px;
  padding: 20px;
  background: linear-gradient(#fff, #ABDBFF);
  border: 1px solid #ccc;
  box-shadow: 0 0 5px;
  font-family: 'Marcellus', serif;
  margin: 40px auto 0 auto; 
  position: relative;
  min-height: 480px;
  box-sizing: border-box;
}

/* Test styling */
.headerArea {
  padding:0px 10px 0px 10px; 
  text-align: left;
}

h1 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: #228;
}

.setting_desc {
  font-size:17px
}

.setting_value {
  padding-left: 4px;
  font-size:17px;
  width:250px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

hr {
  border:0;
  border-bottom:1.5px solid #ccc;
  margin-top:-10px;
  margin-bottom:30px
}

label {
  padding-left: 4px;
  font-size:17px;
  width:250px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;  
}

.dropdown_field {
  padding-left: 4px;
  font-size:17px;
  width:250px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;  
}

.enableadminonly {
  padding-left: 4px;
  font-size:17px;
  background: #e8e4e46b;
  border:1px solid #ccc;
  width:250px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}


/* Footer pysyy formin alalaidassa */
.footer-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 25px;
  box-sizing: border-box;
}

/* Kolmirivinen asettelu */
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Keskialue (Undo / Redo) */
.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-center > *:not(:last-child) {
  margin-right: 80px;
}

/* Painikkeiden perusilme */
.footer-area input[type="submit"],
.footer-area input[type="image"],
.footer-area button {
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.footer-area input:hover {
  transform: scale(1.05);
}

/* Keskipainikkeet korkeampia */
.button-center input,
.button-center button {
  height: 60px;
}

/* Kuvapainikkeet */
input.submit_undo {
  border: 1px solid #0F799E;
  max-width: 40px;
  max-height: 46px;
}

input.submit_btn_disabled {
  border: 1px solid #9ea0a0;
  max-width: 40px;
  max-height: 46px;
}

/* Vasemman ja oikean napin tyyli */
.button-left input,
.button-right input {
  height: 40px;
  padding: 3px 5px;
  border: 1px solid #0F799E;
  background: linear-gradient(#00cccc 5%, #36caf0 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 0 #13506D;
  box-shadow: 0 0 3px;
}

.button-left input:hover,
.button-right input:hover {
  background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

/* Viestilohko */
.form-error {
  margin: 10px 0px 5px 0px;
  color: red;
}
