:root {
  --deep-crimson-red: #930202;
  --dark-crimson: #890101;
}


#container{
  width:960px;
  height:610px;
  margin-top:60px;
  margin-left:auto; 
  margin-bottom:50px;
  margin-right:auto;  
}

table {
  width: 100%;
  font-family: sans-serif;
}

#fugo{
  float:right
}

form {
  width: 360px;
  padding: 0px 20px 0px 20px;
  background: linear-gradient(#fff, #ABDBFF);
  border: 1px solid #ccc;
  box-shadow: 0 0 5px;
  font-family: 'Marcellus', serif;
  margin: 40px auto 0 auto; 
  position: relative;
  min-height: 500px;
  box-sizing: border-box;
}

.history_form_area {
	min-height: 540px;
}

.maintenance_form_area {
	min-height: 380px;
}

h1{
  text-align:center;
  font-size:28px
}

hr{
  border:0;
  border-bottom:1.5px solid #ccc;
  margin-top:-10px;
  margin-bottom:30px
}

label{
  font-size:17px
}

.insert_value {
  padding-left: 4px;
  font-size:15px;
  width:190px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}


#cardtable tr {
  height:30px;
}

.profile_desc {
  padding-left: 4px;
  font-size:17px
}

.profile_value {
  padding-left: 4px;
  font-size:17px;
  width:200px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.dropdown_field {
  padding-left: 4px;
  font-size:17px;
  width:200px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;  
}

.enableadminonly {
  padding-left: 4px;
  font-size:17px;
  background: #e8e4e46b;
  border:1px solid #ccc;
  width:200px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.text-danger {
  color: var(--deep-crimson-red);
}

.text-danger-bottom {
  padding-top: 10px;
  color: var(--dark-crimson);
}

.fullwidth {
    width: 100%;
    box-sizing: border-box;
}

.delete_event_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 500px;
}

.delete_event_subhdr {
    font-size: 20px;
    padding:0px 0px 15px 5px; 
}


.delete_settings {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-size: 14px;
  padding-left: 20px; 
}

.delete_setting {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}


.year_dropdown {
  margin: 0px 5px;
  background-color: inherit;
}

.delete_checkbox {
    margin: 0 0 0 4px;
	transform: scale(1.1);
}

.delete_feedback {
  background: linear-gradient(#E4F2FF, #A3CCF5);
  border: 1px solid #8ABFEA;
  border-radius: 8px;
  padding: 10px 15px;
  color: #1A3B57; /* Tummansininen-harmaa */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeInFeedback 0.5s ease-out forwards;
}


.delete_feedback p {
  margin: 4px 0;
  padding: 5px 0px 5px 5px;
}

@keyframes fadeInFeedback {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Vie alalaitaan */
  height: 100%; /* Varmista että formin korkeus sallii tämän */
}

.button-group {
  display: flex;
  justify-content: space-between; /* Vasemmalle, keskelle, oikealle */
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

/* Kokonaiskontti */
.dialog-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* otsikko ylös, footer alas */
  height: 100%;
}

/* Väli otsikon ja taulukon väliin */
.dialog-form-content {
  margin-top: 15px;
  flex: 1;  /* täyttää kaiken tilan otsikon ja footerin välissä */
  overflow: hidden; /* estää venymisen */
}

/* Footer pysyy formin alalaidassa */
.footer-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 25px;
  box-sizing: border-box;
}

/* Keskialue (Undo / Redo) */
.buttons-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-center > *:not(:last-child) {
  margin-right: 25px;
}

/* Painikkeiden perusilme */
.footer-area input[type="submit"],
.footer-area input[type="image"],
.footer-area button {
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.footer-area input:hover {
  transform: scale(1.05);
}

/* Keskipainikkeet korkeampia */
.button-center input,
.button-center button {
  height: 60px;
}

/* Kuvapainikkeet */
input.submit_undo {
  border: 1px solid #0F799E;
  max-width: 40px;
  max-height: 46px;
}

input.submit_btn_disabled {
  border: 1px solid #9ea0a0;
  max-width: 40px;
  max-height: 46px;
}

/* Vasemman ja oikean napin tyyli */
.button-left input,
.button-center input,
.button-right input {
  height: 40px;
  padding: 3px 5px;
  border: 1px solid #0F799E;
  background: linear-gradient(#00cccc 5%, #36caf0 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 0 #13506D;
  box-shadow: 0 0 3px;
}

.button-left input:hover,
.button-right input:hover {
  background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

.form-error {
  margin: 10px 0px 5px 0px;
  color: red;
}

/* Varmistusdialogin tyylit */
.confirm-form-area {
  width: 300px;
  min-height: 240px;
  margin-top: 100px;
}

.confirm-dialog {
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.confirm-dialog-container {
    width: 300px;
    padding:20px;
    background: linear-gradient(#fff, #ABDBFF);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px;
    box-sizing: border-box;
    margin:100px auto;
    //height: 300px;
}

.confirm-button-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Vie alalaitaan */
    height: 190px;
}

.confirm-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Vasemman ja oikean napin tyyli */
.confirm-button-left input,
.confirm-button-right input {
    height: 40px;
    padding: 3px 5px;
    border: 1px solid #0F799E;
    background: linear-gradient(#00cccc 5%, #36caf0 100%);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 1px 0 #13506D;
    box-shadow: 0 0 3px;
    width: 75px;
}

.confirm-button-left input:hover,
.confirm-button-right input:hover {
  background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

.confirm-text-header {
  padding: 8px 5px 10px 5px; 
  font-family: "Arial", Times, serif;
  font-weight: 600;
  font-size: 16px;
}

.confirm-text {
  padding:8px 5px 5px 15px; 
  font-family: "Arial", Times, serif;
  font-size: 14px;
}

.bold-area {
    font-weight: bold;
}
