.contentResizable {
  height: 330px;
  border: 1px solid black;
  resize: vertical;
  overflow: hidden;
  min-height: 250px;
  max-height: 700px;
  padding-bottom: 4px;
}

.scrollInner {
  height:100%;
  overflow: auto;
}


/* Set header to stick to the top of the container. */
#table2 thead tr th {
  position: sticky;
  top: 0;
  background: #00cccc;
}

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
#table2 th {
  padding:3px 10px 3px 10px; 
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  background: #00cccc;
  text-align: left;
  /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
  box-shadow: 0px 0px 0 2px #e8e8e8;
}

/* Basic Table Styling */
table {
  width: 100%;
  font-family: sans-serif;
}

#table2 td {
  padding:3px 10px 3px 10px; 
}

#table2 tbody tr {
  border-bottom: 2px solid #e8e8e8;
}

#table2 thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

#table2 tbody tr:hover {
  background: #e6f7ff;
}

.filterArea {
  border: 1px solid black;
}

#filterArea
{
  padding:3px 3px 3px 15px; 
}

#selectortable {
   border-collapse: collapse;
}

#selectortable th {
  font-family: "Arial", Times, serif;
  font-size: 15px;
}

#selectortable tr th:nth-child(1), #selectortable tr td:nth-child(1) {
  padding:3px 3px 3px 8px; 
  text-align: left;
}

#selectortable tr th:nth-child(2), #selectortable tr td:nth-child(2) {
  padding:3px 3px 3px 15px; 
  text-align: left;
}

#selectortable tr th:nth-child(3), #selectortable tr td:nth-child(3) {
  padding:3px 3px 3px 40px; 
  text-align: left;
}

#selectortable tr th:nth-child(4), #selectortable tr td:nth-child(4) {
  padding:3px 3px 3px 10px; 
  text-align: left;
}

#selectortable tr th:nth-child(5), #selectortable tr td:nth-child(5) {
  padding:3px 15px 3px 3px; 
  text-align: right;
}

.middleArea {
  padding:0px 3px 0px 3px; 
}


#bottomArea {
  /* border: 1px solid black; */
}

.bottomArea {
	padding-top: 5px;
}

#bottomtable {
  border-collapse: collapse;
}

/* Test styling */
.headerArea {
  padding:0px 10px 0px 40px; 
  text-align: left;
}

h1 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 24px;
}

h2 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: #228;
}

/* Select the first column */
#table2 tr td:nth-child(-n + 1) {
  background-color: rgba(166,166,166,.65);
  text-align: center;
}

#table2 tr th:nth-child(1), #table2 tr th:nth-child(4), #table2 tr td:nth-child(4) {
  text-align: center;
}

#table2 tr th:nth-child(5), #table2 tr th:nth-child(6) {
  text-align: right;
}

#table2 tr td:nth-child(5), #table2 tr td:nth-child(6) {
  text-align: right;
}

#table2 tr:hover {
  background: #e6f7ff !important;
}

#table2 tr:hover td {
  background: transparent;
}

#totalcount
{
  font-size: 16px;
  padding:2px 0px 0px 5px; 
}

#sivutusotsake
{
  font-size: 16px;
  padding:2px 0px 0px 5px; 
  font-weight: bold;
}

button {
  padding:8px 5px 5px 5px; 
  font-family: "Arial", Times, serif;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-clear {
	float: right;
}

.btnAction {
  float: right;
  padding:8px 5px 5px 5px; 
  font-family: "Arial", Times, serif;
  font-size: 16px;
  text-transform: uppercase;
}

.btnFormAction {
  padding:8px 5px 5px 5px; 
  font-family: "Arial", Times, serif;
  font-size: 16px;
  text-transform: uppercase;
}

.sort_asc:after {
  content: "▲";
}

.sort_desc:after {
	content: "▼";
}

/* Set header to stick to the top of the container. */
#table4 thead tr th {
  position: sticky;
  top: 0;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
.table4 {
 border-collapse: collapse;
   page-break-inside: avoid;
}

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
.table4 th {
  text-align: left;
  background: white;	
}

.table4 tbody tr td {
  border-collapse: collapse;
}

.table4 tbody tr {
  text-align: left;
}

.table4 tbody tr:hover {
  background: #e6f7ff;
}

.table4 tr:hover {
  background: #e6f7ff !important;
}

.table4 tr:hover td {
  background: transparent;
}

.tyhja_rivi {
  height: 15px;
}

.kehotus_selite {
  height: 25px;
  padding:8px 5px 5px 30px; 
  font-family: "Arial", Times, serif;
  font-size: 12px;
}

.julistaja {
  padding-left: 20px;	
  font-family: "Arial", Times, serif;
  font-size: 18px;
  font-weight: bold;
}

.ohjeteksti {
  padding-left: 30px;	
}

.otsikko_numero {
  padding-left: 45px;	
  font-weight: bold;
  text-align: left;
  width: 10%;
}

.otsikko_nimi {
  font-weight: bold;
  width: 50%;
}

.otsikko_kayty, .otsikko_otettu {
  text-align: right;
  font-weight: bold;
  padding-right: 15px;	
  width: 20%;
}

.alue_number {
  padding-left: 45px;	
  text-align: left;
  width: 10%;
}

.alue_name {
  text-align: left;
  width: 50%;
}

.alue_lastdate, .event_last_date {
  text-align: right;
  padding-right: 15px;	
  width: 20%;
}

#settings_content {
  margin: auto;
}

.coReportSubHdr {
  padding:10px 10px 0px 40px; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: #228;
}

.coReportRow {
  height: 15px;
  padding:5px 5px 5px 100px; 
  font-family: "Arial", Times, serif;
}

.coReportRow2 {
  height: 15px;
  padding:5px 5px 5px 130px; 
  font-family: "Arial", Times, serif;
}

.about_desc {
  padding-left: 60px;
  padding-right: 60px;
  font-family: sans-serif;
  font-size:18px
}

.version_desc {
  padding-left: 40px;
}


.about-list {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  list-style-type: disc;    /* näyttää luetelmapallot */
  margin-left: 25px;        /* sisennys vasemmalta */
  padding-left: 10px;       /* pieni lisäsisennys */
}

.about-sub-hdr {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #228;
  font-weight: bold;
}

.about-chapter {
	padding-bottom: 15px;
}
