.contentResizable {
  height: 330px;
  border: 1px solid black;
  resize: vertical;
  overflow: hidden;
  min-height: 250px;
  max-height: 700px;
  padding-bottom: 4px;
}

.scrollInner {
  height:100%;
  overflow: auto;
}


/* Set header to stick to the top of the container. */
#table2 thead tr th {
  position: sticky;
  top: 0;
  background: #00cccc;
}

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
#table2 th {
  padding:3px 3px 3px 15px; 
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  background: #00cccc;
  text-align: left;
  /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
  box-shadow: 0px 0px 0 2px #e8e8e8;
}

/* Basic Demo styling */
table {
  width: 100%;
  font-family: sans-serif;
}

#table2 tbody tr {
  border-bottom: 2px solid #e8e8e8;
}

#table2 thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

#table2 tbody tr:hover {
  background: #e6f7ff;
}

.filterArea {
  border: 1px solid black;
}

#filterArea
{
  padding:3px 3px 3px 15px; 
}

#selectortable {
   border-collapse: collapse;
}

#selectortable th {
  padding:3px 3px 0px 15px; 
  text-align: left;
  font-family: "Arial", Times, serif;
  font-size: 15px;
}

#selectortable td {
  padding-left: 15px;
  text-align: left;
}

#selectortable th:nth-child(4) {
  text-align: right;
}

.middleArea {
  padding:0px 3px 0px 3px; 
}


#bottomArea {
  /* border: 1px solid black; */
}

#bottomtable {
  border-collapse: collapse;
}

/* Test styling */
.headerArea {
  padding:0px 10px 0px 40px; 
  text-align: left;
}

h1 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 24px;
}

h2 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: #228;
}

/* Select the first column */
.alue_code {
  text-align: center;
}

.alue_detail, .alue_location, .alue_taloudet {
  padding-left: 6px;
  width: 98%;
  background-color: inherit;
  border-width: 1px;
  border-color: #a4cbcb;
  vertical-align: middle;
}

#table2 tr th:nth-child(1), #table2 tr th:nth-child(5) {
  text-align: center;
}

#table2 tr td:nth-child(1), #table2 tr td:nth-child(5) {
  text-align: center;
}

/* Hover riville ja sen inputeille */
#table2 tr:hover {
  background: #e6f7ff !important;
}
#table2 tr:hover input {
  background: inherit;
}

/* Focus inputeille – vähän tummempi sävy kuin hover */
#table2 tr input:focus {
  background: #cceeff !important;
}

#totalcount
{
  font-size: 16px;
  padding:2px 0px 0px 5px; 
}

#sivutusotsake
{
  font-size: 16px;
  padding:2px 0px 0px 5px; 
  font-weight: bold;
}

button {
  padding:8px 5px 5px 5px; 
  font-family: "Arial", Times, serif;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-clear {
	float: right;
}

.btnAction {
  float: right;
  padding:8px 5px 5px 5px; 
  font-family: "Arial", Times, serif;
  font-size: 16px;
  text-transform: uppercase;
}

.sort_asc:after {
	content: "▲";
}

.sort_desc:after {
	content: "▼";
}

/* Set header to stick to the top of the container. */
#table4 thead tr th {
  position: sticky;
  top: 0;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
.table4 {
 border-collapse: collapse;
   page-break-inside: avoid;
}

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
.table4 th {
  text-align: left;
  background: white;	
}

.table4 tbody tr td {
  border-collapse: collapse;
}

.table4 tbody tr {
  text-align: left;
}

.table4 tbody tr:hover {
  background: #e6f7ff;
}

.table4 tr:hover {
  background: #e6f7ff !important;
}

.table4 tr:hover td {
  background: transparent;
}

.tyhja_rivi {
  height: 15px;
}

.kehotus_selite {
  height: 25px;
  padding:8px 5px 5px 30px; 
  font-family: "Arial", Times, serif;
  font-size: 12px;
}

.julistaja {
  padding-left: 20px;	
  font-family: "Arial", Times, serif;
  font-size: 18px;
  font-weight: bold;
}

.ohjeteksti {
  padding-left: 30px;	
}

.otsikko_numero {
  font-weight: bold;
  text-align: center;
  width: 10%;
}

.otsikko_nimi {
  font-weight: bold;
  width: 50%;
}

.otsikko_kayty, .otsikko_otettu {
  text-align: right;
  font-weight: bold;
  padding-right: 15px;	
  width: 20%;
}

.alue_number {
  text-align: center;
}

.button-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Vie alalaitaan */
  height: 100%; /* Varmista että formin korkeus sallii tämän */
  padding: 0 60px 10px 60px;
}

.button-group {
  display: flex;
  justify-content: space-between; /* Vasemmalle, keskelle, oikealle */
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

/* Keskialue (Undo / Redo) */
.buttons-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

/* Painikkeiden perusilme */
.footer-area input[type="submit"],
.footer-area input[type="image"],
.footer-area button {
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.footer-area input:hover {
  transform: scale(1.05);
}

/* Keskipainikkeet korkeampia */
.button-center input,
.button-center button {
  height: 60px;
}

/* Kuvapainikkeet */
input.submit_undo {
  border: 1px solid #0F799E;
  max-width: 40px;
  max-height: 46px;
}

input.submit_btn_disabled {
  border: 1px solid #9ea0a0;
  max-width: 40px;
  max-height: 46px;
}

/* Vasemman ja oikean napin tyyli */
.button-left input,
.button-center input,
.button-right input {
  height: 40px;
  padding: 3px 5px;
  border: 1px solid #0F799E;
  background: linear-gradient(#00cccc 5%, #36caf0 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 0 #13506D;
  box-shadow: 0 0 3px;
}

.button-left input:hover,
.button-right input:hover {
  background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

.form-error {
  margin: 10px 0px 5px 0px;
  color: red;
}
